@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dr.Aravind Appointment Booking System</h1>
    <p>Learn more about Dr.ARTC <a href="https://www.a-star.edu.sg/artc"> Smart booking web app with ASP.NET Core</a>.</p>
</div>
